
header{
    background: #27AE60;
    height: 75px;
    
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F2F2F2;
    overflow-x:  hidden;
}
img {
    object-fit: fill;
}
a {
    text-decoration: none;
    color: #fff;
}

.container{
    width: 100%;
    max-width: 1100px;
    margin: auto;
}
h1,h2,h3{
    margin: 0;
    color: #4F4F4F;
}
p{
    color:#4F4F4F;

}

nav ul{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding-left: 0;
    
}
nav li{
    list-style-type: none;
    margin-top: 25px;
    font-weight: 500;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}
nav img{
    max-width: 25px;
    padding-right: 15px;
}
.slider{
   display: flex;
   width: 100%;
   margin: 0 auto;
    
}
.sub-menu{
    position: relative;
    z-index: 5;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-in;
    background-color: #27AE60;
    margin-top: 19px; 

}
.sub-menu li{
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding: 10px;
}
.sub-menu li:last-child{
    margin-bottom: 15px;
}
.topItem:nth-of-type(1){
    padding-left: 50px;
}
.topItem:nth-of-type(2){
    background: #F2C94C;
}
.topItem:nth-of-type(3){
    padding-right: 50px;
    background: #EB5757;
}

.topItem h1{
    
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    color: #fff;
}
.topItem h2{
    margin-bottom: 10px;
    color: #fff;
}
.topItem{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
     background: #9B51E0;
   
     width: 40%;    
}
.topItem img{
    transition: 0.2s linear;
    max-width: 250px;
     object-fit: fill;
}
}
.topItem img:hover{
     transform: scale(1.02);
}

.topItem p{
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700; 
    color: #fff;
}
.telegram{
    height: 200px;
    display: flex;
    z-index: 1;
    background-image: url(../img/telegramScroll.png);
    background-repeat: no-repeat;
}
.upBttn{
    background-color: #3498db;
    height:auto;
    width: 3%;
    opacity: 0;
    position: fixed;
    right: 20px;
	bottom: 20px;
    color: white;
    font-size: 25px;
    text-align: center;
    z-index: 9999;
    transition: 0.2s linear;

    
}
.overlay {
  position: fixed;
  left: 0; right: 0; top: 0; bottom: 0;
  width: 100%;
  height: 100%;    
  background: #000;
  opacity: 0.7;
  visibility:hidden;
  
}
.dialog{
    position: fixed;
    background-color: #fff;
    left: 50%;
    top: 50%;
    width: 300px;
    transform: translate(-50%, 0);
    visibility: visible;
    margin-top: -150px;
    
}
.close{
    border: none;
    border-radius: 15px;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    cursor: pointer;
}
.dialogContent{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 55px;
}
.popUpBttn{
    color: #fff;
    cursor: pointer;
}
.subject{
    width: 270px;
    min-width: 270px;
    max-width: 270px;
    max-height: 300px;
    min-height: 200px;
    border: 1px solid gainsboro;

}
.dialogContent input[type=text]{
    border: 1px solid gainsboro;
    height: 25px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.fullText{
    resize: none;
}
.backBlack{
    background: #000;
    width: 100%;
    height: 100%;
}
.arrow{
    padding: 10px 0;
    cursor: pointer;
}


.telegram h1{
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    color: #fff;
    
}
.items h1{
    text-transform: uppercase;
    margin-top: 50px;
   
}
.items{
    margin-bottom: 50px;
}
.tags{
    display: inline-block;
    
}
.tag{
    margin-top: 25px;
    margin-right: 50px;
    background: #F2C94C;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    height: 35px;
    display: inline-block;
    
}
.tag img{
    float:left;
    height: 70%;
    margin: auto 0;
    margin-top: 5px;
}
.tag p{
    font-size: 25px;
    color:#fff;
    margin: 0;
    padding-left: 10px;
    float: right;
}
.tag:nth-of-type(2){
        background: #27AE60;
}
.tag:nth-of-type(3){
        background: #F2994A;
}
.tag:nth-of-type(4){
        background: #2D9CDB;
}

.itemsRow{
    display: flex;
}
.item{
    margin-top: 25px;
    background: #fff;
    margin-right: 50px;
    width: 200px;
    text-align: center
}
.item:last-child{
    margin-right: 0;
}

.item a div{
    display: flex;
}
.item a p{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    font-size: 13px;
    color: #27AE60;
}
.item a div img{
     max-height: 25px;
    margin-left: auto;
}
.item a div p{
    margin-right: auto;
    color: #DADADA;
}
.avatar {
    max-height: 123px;
    padding-top: 30px;
    padding-bottom: 15px;
    transition: 0.2s linear;
}
.avatar:hover{
    transform: scale(1.2);
     
}
footer{
    background: #27AE60;
    height: 250px;
    display: flex;
    
}
footer ul{
    list-style-type: none;
    text-align: left;
}
footer li{
    text-transform: uppercase;
    margin-top: 15px;
    
    
}
footer a p:hover{
    color: #ebebeb;
}
footer p{
    color: #fff;
    font-weight: 500;
    text-align: right;
    padding-right: 20px;
    font-size: 35px;
    font-style: italic;
}
.footerItems{
    display: flex;
    justify-content: space-between;
}
/* desc page*/

.descSection{
    margin-bottom: 15px;
    display: flex;
}
.leftSection{
    width: 65%;
}
.descBlock{
    margin-top: 50px;
    background: #fff;
    display: flex;
    min-height: 350px;
}
.descBlock h1{
    padding-top: 50px;
    padding-left: 50px;
}

.descImg{
    max-width: 150px;
    padding-left: 50px;
    padding-top: 20px;
}
.minus{
    border: solid #EB5757 1px; 
    color: #EB5757;
    background: none;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    font-size: 15px;
    font-weight: 500;
    display: block;
    margin: auto;
}
.minus:last-child{
    color: #27AE60;
    border: solid #27AE60 1px; 
}
.rating{

    margin-top: 15px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    width: 150px;
}
.counter{
    background: #219653;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    display: flex;
}
.count{
    color: #fff;
    margin: auto;
}
.rightSide{
    margin-top: 75px;
    margin-left: 20px;
}

.downloadHeader{
    background: #219653;
    color: #fff;
    text-align: center;
    padding:20px 0;
    margin-bottom: 0;
}
.downloadItems{
    border: solid 1px #219653;
}
.downloadItem{
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
}
.downloadSec button{
    background: #219653;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    color: #fff;
}
.downloadSec button:hover{
    z-index: 1;
    background-color: #2E7E50;
}
.downloadSec p{
    text-align: center;
    font-size: 15px;
}
.rightSection{
    margin-top: 50px;
    background: #fff;
    margin-left: 15px;
    width: 35%;
}
.rightSection p{
    margin: 0;
}
.rightSection h1{
    padding-top: 50px;
    padding-left: 50px;
}
.recItems{
    padding-top: 15px;
    padding-left: 50px;
}
.recItem{
    display: inline-block;
    margin-top: 15px;
}
.recItem h2{
    font-weight: 500;
    font-size: 20px;
}
.recItem img{
    float: left; 
    margin-right: 15px;
    max-width: 100px;
    border-radius: 15px;
}
.pubs{
    background: #fff;
    width: 100%;
    margin-top: 50px;
}
.pubs h1{
    padding-top: 50px;
    padding-left: 50px;
}
.pubsItems{
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 25px;
}
.pubsItem{
    display: inline-block;
    padding: 10px 0;
}
.pubsItem p{
    margin: 0;
}
.pubsItem img{
    float: left;
    padding-right: 15px;
    max-width: 140px;
}
.pubsItem h2{
   font-weight: 500;
    margin-left: 20px;
    font-size: 20px;
}


